/* account.module.css */
input:focus:invalid {
    border: 2px solid red;
  }

  .name-input:focus:invalid + .error-message {
    display: block;
    color: red;
    font-size: 12px;
  }
  
  .error-message {
    display: none;
  }
  
  input:focus:valid {
    border: 2px solid green; 
  }